extends ../layout/index.pug 

block append contentStyle
    style(type='text/css').
        .section {
        }
        .section_head .section_logo {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            margin-bottom: 10px;
            width: 60%;
        }

        .section_body{
            text-align: center;
            width: 70%;
            margin-left: auto;
            margin-right: auto;

        }

        
        .section_body .section_pg {
            margin-top: 30px;
            text-align: center;
            letter-spacing: 0px;
            color: #10100F;
        }

        .section_foot {
            text-align: center;
            width: 100%;
            margin-top: 50px;
        
        }
        .section_foot a {
            padding: 10px;
            background: #01A1E8 0% 0% no-repeat padding-box;
            margin-bottom: 30px;
            border-radius: 8px;
            opacity: 1;
            color: white;
            text-decoration: none;
        }
        .section_foot p.bordered {
            margin-left: auto;
            margin-right: auto;
            background: #01A1E800 0% 0% no-repeat padding-box;
            border: 3px dashed #01A1E8;
            border-radius: 8px;
            opacity: 1;
            padding: 2px 5px 5px 2px;
            color: #01A1E8;
            width: 25%;
        }


block append section
    .section
        .section_head
            img.section_logo(src=`${host}/images/payrollSubmission.png` alt='logo')
        .section_body
            h2.section_title Your weekly earnings has been transferred to your bank account
            p.section_pg Your account's now set up. So, your next take away is just a tap away. And you'll find there's all start of fabulous food to enjoy
        .section_foot
            a(href=#{loginUrl}) Login Now
            h2 Transfer Details
            p Payment Transferred
            p.bordered #{amount}