extends ../layout/index.pug 

block append contentStyle
    style(type='text/css').
        .section {
        }
        .section_head .welcome-logo {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 70%;
        }
        .section_body .setup_business {
            text-align: center;
            letter-spacing: 0px;
            color: #000000;
        }

        
        .section_body .browser-para {
            margin-top: 30px;
            text-align: center;
            letter-spacing: 0px;
            color: #10100F;
        }
        .section_body .infoText{
            margin-top: 30px;
            text-align: center;
            letter-spacing: 0px;
            color: #01a1e8;
        }
        .section_foot {
            text-align: center;
            margin-top: 25px;
            margin-bottom: 50px;
        }
        .section_foot a {
            padding: 10px;
            background: #01A1E8 0% 0% no-repeat padding-box;
            border-radius: 8px;
            opacity: 1;
            color: white;
            text-decoration: none;
        }


block append section
    .section
        .section_head
            img.welcome-logo(src=`${host}/images/forgotPassword.png` alt='logo')
        .section_body
            h2.setup_business Password Changed
            p.browser-para Your password has been changed successfully.
            p.infoText If it was not you contact our support team
        .section_foot
            a(href=`mailto:usmanhafeez147@gmail.com`) Contact Us