extends ../layout/index.pug 

block append contentStyle
    style(type='text/css').
        .section {
        }
        .section_head .section_logo {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
            width: 25%;
        }
        .section_body .setup_business {
            text-align: center;
            letter-spacing: 0px;
            color: #01A1E8;
        }

        .section_body {
            text-align: center;
        }

        .section_body .section_title {
            font-weight: bold;
            letter-spacing: 0px;
            color: #FF3B30;
        }
        .section_body h3 {

            text-align: center;
            letter-spacing: 0px;
            color: #10100F;
            opacity: 1;
        }

        .section_foot {
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .section_foot a {
            
            padding: 10px;
            background: #01A1E8 0% 0% no-repeat padding-box;
            border-radius: 8px;
            opacity: 1;
            color: white;
            text-decoration: none;
        }


block append section
    .section
        .section_head
            img.section_logo(src=`${host}/images/accountSuspended.png` alt='logo')
        .section_body
            h2.section_title Your Account has been suspended
            h3 #{userName}, Your Account is Suspended 
            p.section_pg Your Account could have been suspended for many reasons and this email has been sent to you to get in touch with us to discuss what issue may have caused this to occur. Please get in touch with our team via telephone or email to get this matter resolved for you as soon as possible. Our guidelines can also be found on the link below.
        .section_foot
            a(href=#{guideLineUrl}) Download Guideline