style(type='text/css').
    .footer {
        text-align: center;
    }
    .footer_start {
        background: #FD9616 no-repeat;
        display: grid;
    }

    .footer_start .download_app_title {
        margin-top: 20px;
        color: #FFFFFF;
    }

    .footer_start .download_section {
        margin-bottom: 20px;
    }

    .footer_start .download_section img {
        width: 150px;
        margin: 5px;
        border-radius: 10px;
    }
    .footer_body {
        margin-top: 20px;
        text-align: center;
        letter-spacing: 0px;
        color: #919191;
    }
    .footer_body a {
        text-decoration: none;
        color: #01A1E8;
    }
    .footer_body p {
        margin: 5px;
    }
    .footer_end {
        text-align: center;
    }
    .footer_end img {
        width: 50px;
        margin-top: 20px;
        margin-left: 10px;
        box-shadow: -1px 4px 12px #00000042;
        border-radius: 100%;
        opacity: 1;
        margin-bottom: 25px
    }

    @media screen and (max-width: 1025px) {
        .footer_start {
            width: 100%;
        }
        .container {
            width: 50%;
        }
    }
    @media screen and (max-width: 769px) {
        .footer_start {
            width: 100%;
        }
        .container {
            width: 90%;
        }
    }
    @media screen and (max-width: 425px) {
        .footer_start {
            width: 100%;
        }
        .container {
            width: 100%;
        }
    }

    
